
body {
    font-family: 'Titillium Web', sans-serif;
    
   
}


/* Set maximum height for the brand image in the navbar */
.navbar-brand img {
    max-height: 50px;
}

/* Styles for the navigation button */
.navbar-btn {
    background-color: red;
    border: none;
    margin-right: 10px; 
}

/* Default styles for the theme toggle button */
.theme-toggle {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    padding: 1px 3px; 
}

/* Styles for elements in dark mode */
.dark-mode {
    background-color: #000000; 
    color: #ffffff; 
}
.dark-mode .navbar {
    background-color: #000000; 
}
.dark-mode .nav-link {
    color: #ffffff; 
    font-weight: bold;
}
.dark-mode .theme-toggle {
    background-color: #f8f9fa; 
    color: #000000; 
}

/* Styles for elements in light mode */
.light-mode {
    background-color: #f8f9fa;
    color: #000000;
}
.light-mode .navbar {
    background-color: #f8f9fa;
}
.light-mode .nav-link {
    color: #000000; 
    font-weight: bold;
}
.light-mode .theme-toggle {
    background-color: #000000; 
    color: #ffffff; 
}

/* Styles for the hero photo container */
.HeroPhoto {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
}

/* Positioning of the hero photo */
.HeroPhoto {
    position: relative;  
}

/* Transition effect for the hero image */
.HeroPhoto img {
    transition: opacity 1s; 
}

/* Styles for the text inside the hero photo */
.hero-text {
    position: absolute;
    right: 8%; 
    top: 30%; 
    color: #fff;
    z-index: 2; 
}

/* Styles for h1 inside the hero text */
.hero-text h1 {
    position: relative;
    font-size: 66px;
    margin-bottom: 10px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 0px;
}

/* Styles for a red gradient button */
.btn-red {
    position: relative;
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    color: white;
    border: none;
    padding: 10px 25px;
    margin-top: 20px;  
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 40%; 
}

/* Hover effect for the red gradient button */
.btn-red:hover {
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}

/* Centering the button */
.btn-red {
    left: 50%;
    transform: translateX(-50%); 
}

/* Styling for a container with a skew effect */
.skew-container {
    transform: skewX(-10deg);
    overflow: hidden;
    width: 100%; 
    height: 350px;
}

/* Styling for images inside the skew container */
.skew-container img {
    transform: skewX(10deg);
    width: 100%;
    min-width: 140%;
    height: auto;
    position: absolute;
    left: -10%;
    filter: grayscale(100%);
    transition: filter 0.3s; 
    transform: scale(1.1);
}

/* Hover effects for images inside the skew container */
.skew-container:hover img {
    filter: grayscale(0%);
    transform:translateY(20px);
    box-shadow: 10px 3px 20px 5px #ff0000;
}

/* Styling for text within the skew container */
.gupit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight:bolder;
    text-shadow: 4px 2px 5px #000000;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease-in; 
    z-index: 1; 
}

/* Hover effect to show the text within the skew container */
.skew-container:hover .gupit-text {
    opacity: 1;
}

/* Styling for h2 elements */
h2 {
    margin-top: 10px; 
    margin-bottom: 50px; 
    text-align: center; 
}

.hr {
color: #f7971d;
opacity: 100%;
}

/* Transition effect for images inside the image container */
.image-container img {
    transition: box-shadow 0.3s ease;
}

/* Styling for the image container */
.image-container {
    position: relative;
}

/* Styling for star icons */
.star-icons {
    color: #f7971d; 
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

/* Spacing for individual star icons */
.star-icons i {
    margin: 0 2px; 
}


/* Styling for the footer */
.custom-footer {
    background: repeating-linear-gradient(
        120deg,
        black,
        black 10px,
        #444 10px,
        #444 11px
    );
    color: #ffffff;
}

/* Media query to hide specific h1 elements in hero text for screen widths below 768px */
@media (max-width: 768px) {
    .hero-text h1.display-1, 
    .hero-text h1.display-2 {
        display: none;
    }
}

input {
    flex: 1px;
    border: none;
    outline: none;

}

.signupbtn {
    display: grid;
    position:absolute;
    align-content: center;
    background-color: #f7971d;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 10px 10px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.signupbtn:hover {
    background-color: #ff0000;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   
}
/* Style for individual grid items */
.grid-item {
    background-color: #f0f0f000;
    text-align: center
}
  @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Change to a single column */
    }
}

/* Additional Styles for Shop  */

.BestSellerHero {
    background-color: #f7971d ;
}

#bestseller {
    display: grid;
    text-align: center;
    align-content: center;
    position: relative;

  
    
}

.PromoBanner {
    display: flex;
    position: absolute;
    width: 96.25%;
    z-index: 1;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #888; /* Color for inactive dots */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #fff; /* Color for active dot */
  }


/* Styles for a red gradient button */
.bstBtnRed {
    
    position: relative;
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    color: white;
    border: none;
    /* padding: 10px 25px; */
    margin-top: 20px;  
    border-radius: 0px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 37%; 
    height: 50px;
    width: 180px;
}

/* Hover effect for the red gradient button */
.bstBtnRed:hover {
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}

/* Centering the button */
.bstBtnRed button{
    left: 50%;
    transform: translateX(-50%); 
    border-radius: none;
}

/* Styling for Hero star icons */
.herostar-icons {
    color: #ffffff; 
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    font-size: 30px;
   
    
}

/* Spacing for individual star icons */
.herostar-icons i {
    margin: 0 2px; 
}
.bsttitle1 a {
    font-size: 30px;
    font-family: inherit;
    text-decoration: none; 
    color: white;
 
    
}

.bsttitle2 {
    text-transform: none;
    font-size: 30px;
    text-shadow: 10px 3px 30px #030202;;
}

.createh2 h2 {
    font-size: 35px;
    color: rgb(29, 29, 29);
    margin-top: 20px;

}

.img-sale {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 2;

}
.solds {
    display: grid;
    position: relative;
    color: #8d8d8d;
    font-size: 17px;
}

.cart-btn {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: #f7971d;
  }
  .cart-items {
    position: absolute;
    top: -9px;
    right: -9px;
    background: #ff0303;
    padding: 0 4px;
    border-radius: 34%;
    color: #ffffff;
    font-size: 15px
  }


  
  /* --------------- Cart Over Lay Items---------------- */

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px; 
    height: 100%;
    background-color: rgba(75, 75, 75, 0.986);
    overflow-y: auto;
    padding: 20px;
    display: none;  /* hidden by default */
    color: white;
    z-index: 99;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* 
--------------------- */


.cart-item button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    margin: 0 5px;
}

.cart-item button:focus {
    outline: none;
}



#cart-close-btn {
    display: grid;
    position:relative;
    align-content: flex-start; 
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #f71d1d;
    font-weight: bold;
   
}

#cart-close-btn:focus {
    outline: none;
}
.yourCartLogo{ 
    display: flex;
    position: relative;
    align-content: center;
    left: 60px;
    margin-bottom: 40px;
}

/* --------- cart overlay arrow buttons ------------*/

.arrow-button {
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}


.arrow-button:hover {
    background-color: #f7971d;
}

/* Style the button when disabled */
.arrow-button:disabled {
    background-color: #2d2e2e;
    cursor: not-allowed;
}

#cart-summary {
    display:grid;
    background-color: rgb(53, 52, 58);
    margin-bottom: 20px;
}

.paymentOption {
    font-weight:  bold;
    color: #f7971d ;
}

.paymentOptionRadio label {
    display: inline-block;
    position:relative;

    margin-right: 10px; /* Add some spacing between the radio buttons */
}

.totalCart {

    background-color: #f8f9fa   ;
    display: inline;
    align-items: center;
    color: #353434;
    font-weight: bold;
}

#checkout-button {
        background-color: #f7971d;
        color: #ffffff;
        border: none;
        margin-top: 10px;
        border-radius: 50px;
        padding: 10px 10px;
        width: 300px;
        cursor: pointer;
        transition: background-color 0.3s;
    
    }
    #checkout-button:hover {
        background-color: #ff0000;
    }
.text-center a {
    font-family: inherit;
    text-decoration: none; 
    color: white;
}